SUPABASE_URL=https://awwczewzeaprvmoibyyp.supabase.co/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3d2N6ZXd6ZWFwcnZtb2lieXlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTkxMjgzNzMsImV4cCI6MjA3NDcwNDM3M30.wCpcRFJg0iVaxyO3d1ZSk_OuGaoD7Sz007xAKtxZY0k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3d2N6ZXd6ZWFwcnZtb2lieXlwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTEyODM3MywiZXhwIjoyMDc0NzA0MzczfQ.VLsoFoZc_aud5UZFDS22z0tRlnv5s0e2wpegUovlwJM